@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import './gameStyle.scss';
@import './gameOverStyle.scss';
@import './highscoreStyle.scss';
@import './homePageStyle.scss';
@import './profilePageStyle.scss';

$theme-colors: (
  'primary': #0b282a,
  'secondary': #d1d1af,
  'info': #0b282ae0,
  'warning': #7a2438,
  'success': #8c2039,
  'light': #ac3131,
  'dark': #1c1a1f,
);

$primary-color: #0b282a;
$secondary-color: #d1d1af;
$info-color: #0b282ae0;
$warning-color: #89548f;
$success-color: #8c2039;
$muted-color: #757575;
$dark-color: #1c1a1f;
$light-color: #f4f4f4;

$card-bg: $info-color;
$card-color: $secondary-color;
$btn-bg: $warning-color;

//Navbar
.navBar {
  background-color: $primary-color;
  height: 6rem;
  font-size: 1.2rem;
  position: relative;
  margin-bottom: 1.25rem;

  .navbar-collapse {
    z-index: 1049;
    background-color: $primary-color;
  }

  .collapse-links {
    display: flex;
    justify-content: space-evenly;
  }

  .navbar-toggler {
    background-color: lighten($primary-color, 5%);
    border: 1px solid $navbar-dark-color;
    transition:
      background-color 0.3s ease,
      border-color 0.3s ease;
    &:hover {
      background-color: lighten($warning-color, 10%);
    }
    &:focus,
    &:active {
      border-color: $navbar-dark-color;
      background-color: lighten($primary-color, 10%);
      box-shadow: 0 0 0 0.2rem rgba(155, 70, 31, 0.5);
    }
  }

  .navbar-brand {
    color: $navbar-dark-color;
    font-size: 2.5rem;
  }
}

// application background and font
#appId {
  min-height: 100vh;
  font-family: 'Jaro', sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url('../images/snake.jpg');
  background-size: cover;
  background-position: center;

  main {
    flex: 1;
  }
}

#appId::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#appId > * {
  position: relative;
  z-index: 2;
}

#appId a {
  color: $secondary-color;
  text-decoration: none;
}

#appId a:hover {
  color: #c9c975;
}

// LoadingScreen
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.authCard {
  padding: 1.875rem 0;
}

// Footer styling
.custom-footer {
  background-color: $primary-color;
  color: $secondary-color;
  padding: 15px 0;
  font-size: 0.875rem;

  p {
    margin: 0;
    line-height: 1.6;
  }

  @media (max-width: 576px) {
    font-size: 0.75rem;
  }
}

//Not found styling
.not-found-card {
  border-radius: 1.25rem;
  overflow: hidden;
  max-width: 37.5rem;
}

@import 'node_modules/bootstrap/scss/bootstrap';
