@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import './gameStyle.scss';
@import './gameOverStyle.scss';
@import './highscoreStyle.scss';
@import './Homepage.scss';

$theme-colors: (
  'primary': #0a355b,
  'secondary': #d1d1af,
  'dark': #1c1a1f,
  'light': #f4f4f4,
  'success': #8c2039,
  'danger': #eb9690,
  'warning': #156e6d,
  'muted': #757575,
  'info': #0a355be0,
);

$card-bg: map-get($theme-colors, 'info');
$card-color: map-get($theme-colors, 'secondary');
$navbar-dark-bg: map-get($theme-colors, 'primary');
$navbar-dark-color: map-get($theme-colors, 'secondary');
$navbar-dark-hover-color: map-get($theme-colors, 'warning');
//Navbar
.navBar {
  background-color: $navbar-dark-bg;
  height: 6rem;
  font-size: 1.2rem;
  position: relative;
  margin-bottom: 20px;

  .navbar-collapse {
    z-index: 1049;
    background-color: $navbar-dark-bg;
  }

  .collapse-links {
    display: flex;
    justify-content: space-evenly;
  }

  .navbar-toggler {
    background-color: lighten($navbar-dark-bg, 5%);
    border: 1px solid $navbar-dark-color;
    transition:
      background-color 0.3s ease,
      border-color 0.3s ease;
    &:hover {
      background-color: lighten($navbar-dark-hover-color, 10%);
    }
    &:focus,
    &:active {
      border-color: $navbar-dark-color;
      background-color: lighten($navbar-dark-bg, 10%);
      box-shadow: 0 0 0 0.2rem rgba(155, 70, 31, 0.5);
    }
  }

  .navbar-brand {
    color: $navbar-dark-color;
    font-size: 40px;
  }
}

// application background and font
#appId {
  min-height: 100vh;
  font-family: 'Jaro', sans-serif;
  display: flex;
  flex-direction: column;
  background-image: url('../images/snake background.jpg');
  background-size: cover;
  background-position: center;

  main {
    flex: 1;
  }
}

#appId a {
  color: #d1d1af;
  text-decoration: none;
}

#appId a:hover {
  color: #c9c975;
}

// LoadingScreen
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.authCard {
  padding: 1.875rem 0;
}

//profile page
.profile-photo {
  width: 12.5rem;
  height: 12.5rem;
  border: 2px solid #ddd;
  border-radius: 0.938rem;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
}

.profile-card input {
  border: 1px solid #0a355bdb;
  background-color: #eaeadd;
  color: #0a355bdb;
  font-size: 1.125rem;
}

.profile-card button {
  color: #d1d1af;
}

.profile-card button:hover {
  color: #f3f3dd;
}

// Footer styling
.custom-footer {
  background-color: #0a355b;
  color: #d1d1af;
  padding: 15px 0;
  font-size: 14px;

  p {
    margin: 0;
    line-height: 1.6;
  }

  @media (max-width: 576px) {
    font-size: 12px;
  }
}

@import 'node_modules/bootstrap/scss/bootstrap';
