@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
$theme-colors: (
  'primary': #0a355b,
  'secondary': #d1d1af,
  'dark': #42354c,
  'light': #f4f4f4,
  'success': #8c2039,
  'danger': #eb9690,
  'warning': #156e6d,
  'muted': #757575,
  'info': #0a355bdb,
);

$modal-content-bg: map-get($theme-colors, 'primary');
$modal-content-color: map-get($theme-colors, 'secondary');
$modal-footer-bg: map-get($theme-colors, 'primary');

.custom-modal .modal-content {
  border-radius: 0.625rem;
  padding: 1.25rem;
  text-align: center;
  font-family: 'Jaro', sans-serif;
  font-size: 1.5rem;
}

.custom-modal button {
  width: 40%;
  padding: 0.625rem;
}

.custom-modal .modal-header {
  border-bottom: none;
}

.custom-modal .modal-title {
  font-size: 2.3rem;
  font-weight: bold;
  margin: 0 auto;
  color: #bc0b34;
}

.custom-modal .modal-footer {
  border-top: none;
  display: flex;
  justify-content: space-evenly;
}

@import 'node_modules/bootstrap/scss/bootstrap';
