.board-container {
  text-align: center;
  margin-top: 2rem;
  padding: 0 1.25rem;
  box-sizing: border-box;
}

.canvas-style {
  border: 0.625rem solid #d1d1af;
  display: inline-block;
}

.countdown-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12.5rem;
  height: 12.5rem;
  background-color: #0b5852;
  border-radius: 1.25rem;
  box-shadow: 0 0 1.25rem rgba(255, 165, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown-container h1 {
  color: rgb(230, 212, 50);
  font-size: 6rem;
  text-align: center;
  margin: 0;
}

.score-label {
  color: antiquewhite;
  text-transform: uppercase;
  font-size: 2rem;
}

.score-value {
  color: #28a745;
  font-size: 2rem;
  font-weight: bold;
}

.score-card {
  margin: 0 auto;
  text-align: center;
  max-width: 53.125rem;
  min-width: 21.875rem;
  margin-bottom: 5rem;
}

.canvas-style {
  display: block;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}
