.homepage-container {
  padding-bottom: 6.25rem;
}

.h1-title {
  color: #0a355b;
  text-shadow: 0 0 5px #d1d1af;
  font-size: 4.5rem;
}

.h3-title {
  color: #0a355b;
  text-shadow: 0 0 5px #d1d1af;
  font-size: 2.5rem;
}

.game-description {
  font-size: 1.3rem;
  color: antiquewhite;
}

.game-rules {
  font-size: 1.5rem;

  color: #ff0000;
  text-shadow: 0 0 5px rgba(12, 12, 11, 0.8);
}

.game-over-text {
  font-size: 2rem;
  font-weight: bold;
  color: #ff0000;
  text-shadow: 0 0 5px rgba(12, 12, 11, 0.8);
  font-family: 'Creepster', cursive;
}
